/* Core Data Grid CSS */
@import 'ag-grid-community/styles/ag-grid.css';

/* Theme Specific CSS */
@import 'ag-grid-community/styles/ag-theme-balham.css';

html, body {
  height: 100vh;
  background: #eef2f2;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-chip.mat-mdc-standard-chip {
  height: inherit;
}
